<div fxLayout="column" fxLayoutAlign="start stretch" >
  <app-header></app-header>
  <div class="side-bar">
    <app-sidebar></app-sidebar>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="totals-div">
    <div class="total-loans-div">
      Total loan = 57000
    </div>
    <div class="outstanding-loans-div">
      Total outstanding = 1500
    </div>
    <div class="areas-loans-div">
      Total areas = 34500
    </div>
  </div>
  <div class="officer-performance-div"
    fxLayout="column" fxLayoutAlign="start stretch">
    <h2>Officer Performance</h2>
    <app-officer-performance-table fxLayoutAlign="center center"
      [tableData]="testData">
    </app-officer-performance-table>
  </div>
  <div class="officer-performance-div"
    fxLayout="column" fxLayoutAlign="start stretch">
    <h2>Graphical Representation</h2>
    <div>
  <div class="chart-class">
    <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType">
    </canvas>
  </div>
</div>
  </div>
</div>
